.posts-section {
  position: relative;
}

.section-title {
  font-size: 3rem;
  text-align: center;
  margin: 3rem 0;
}

.post {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  gap: 2rem;
  margin-bottom: 4rem;
}

.image-container img {
  height: 100%;
}

.post-info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.post-info__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.post-info__header > div {
  display: flex;
  gap: 1rem;
}

.post-info__header > div span:first-child {
  text-transform: capitalize;
}

.post-info__header > span {
  font-weight: 700;
  text-transform: uppercase;
}

.post-info__body div * {
  display: inline-block !important;
  background-color: white !important;
  font-size: 1.5rem !important;
  line-height: 1.4 !important;
  font-weight: 400 !important;
  text-align: left !important;
}

.post-info__body div {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-info__body h3 {
  font-size: 3rem;
}

.post-info__body h3::first-letter {
  text-transform: uppercase;
}

.post-info__footer {
  position: absolute;
  bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.post-info__footer a:hover {
  color: brown;
}

.drop-down-container {
  position: absolute;
  top: 3rem;
  left: 0;
}

.drop-down-container > button {
  background: none;
  border: none;
  color: brown;
  font-weight: 700;
  cursor: pointer;
  margin: 0 1rem;
}

.drop-down {
  position: absolute;
  top: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  padding: 1rem;
  width: 100px;
  z-index: 1000;
}

.drop-down__body {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: 150px;
}

.drop-down__body::-webkit-scrollbar {
  display: none;
}

.drop-down--left {
  left: -0.5rem;
}
.drop-down--right {
  right: -0.5rem;
}
.drop-down__divider {
  font-size: 1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}
.drop-down__beak {
  position: absolute;
  top: -0.6rem;
  background-color: white;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 1rem;
  height: 1rem;
  transform: rotate(44deg);
}
.drop-down__beak--right {
  right: 1rem;
}

.drop-down button {
  background-color: transparent;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.3rem;
  outline: none;
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
}

.drop-down button:hover {
  background-color: #eee;
}
